@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownFade {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-entry-up{
  animation: slideUpFade 0.5s ease forwards;
  opacity: 0;
}

.animate-entry-down{
  animation: slideDownFade 0.5s ease forwards;
  opacity: 0;
}