@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --font-main: 'Sora', sans-serif;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.02em;
}

.custom-shadow {
  filter: drop-shadow(0px 10px 30px rgb(255, 255, 255));
}

.animate-custom-shadow {
  filter: drop-shadow(0px 15px 40px rgba(255, 255, 255, 0.9));
  transition: filter 700ms ease-in-out;
}

.no-shadow {
  filter: drop-shadow(0px 5px 15px rgba(255, 0, 0, 0));
  transition: filter 700ms ease-in-out;
}

@keyframes loading-bar {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.animate-loading-bar {
  animation: loading-bar 2s ease-in-out infinite;
}

.header-light {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.bg-blur-custom {
  background: rgba(240, 240, 240, 0.2);
  backdrop-filter: blur(61.6px);
}

@media (max-height: 1000px) {
  .responsive-header {
    padding: 20px;
  }
}

@media (max-height: 1500px) {
  .todos-containter {
    bottom: 40px;
    height: 80vh;
  }
}

.halo {
  position: fixed;
  z-index: 1;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.322);
  filter: blur(122px);
  pointer-events: none;
  transform: translate(-50%, -50%);
}
